footer {
  padding: 0rem 5rem;
  background-color: #001419;
  transition: var(--transition);
}

.footer-container {
  color: var(--color-white);
  /* border: 2px solid red; */
}

/* STYLING OF FOOTER TOP */
/* .footer-top {
  color: var(--color-white);
  border: 1px solid red;
} */

/* STYLING OF FOOTER MAIN */
.footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 2rem 2rem 2rem;
}

.footer-main .logo,
.footer-main .ourServices,
.footer-main .concerts,
.footer-main .explore-categories,
.footer-main .workshops,
.footer-main .scroll-control {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

/* STYLING OF FOOTER MAIN------LOGO */
.logo-contact {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}

.logo-contact-mail {
  color: var(--color-primary);
  background-color: var(--color-primary-card);
  border-radius: 50%;
  padding: 0.3rem 0.6rem;
}

.logo-contact-telephone {
  color: var(--color-primary);
  background-color: var(--color-primary-card);
  border-radius: 50%;
  padding: 0.3rem 0.6rem;
}

/* STYLING OF FOOTER MAIN TEXT-------SERVICES */
#footer-main-text {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.ourServices > h4 > a,
.concerts > h4 > a,
.explore-categories > h4 > a,
.workshops > h4 > a {
  /* font-family: "Open Sans"; */
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: var(---color-white);
}

.ourServices > p,
.concerts > p,
.explore-categories > p,
.workshops > p {
  margin-top: 0.6rem;
  /* font-family: "Open Sans", sans-serif; */
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  color: #f3f4f6;
}

/* STYLING OF FOOTER MAIN-------SERVICES */
/* STYLING OF FOOTER MAIN--------CONCERTS*/
/* STYLING OF FOOTER MAIN------EXPLORE CATEGORIES */
/* STYLING OF FOOTER MAIN------WORKSHOPS */

/* STYLING OF FOOTER MAIN------SCROLL-CONTROL */

#scroll-icon {
  font-size: 3rem;
  color: var(--color-primary);
  background-color: var(--color-primary-card);
  border-radius: 50%;
  padding: 0.4rem;
  margin-top: 300%;
}

/* STYLING OF FOOTER BOTTOM */
.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid var(--color-white-light);
  padding-top: 0.8rem;
  margin-top: 1rem;
  padding-bottom: 0.8rem;
}

.footer-bottom > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  footer {
    padding: 0rem 1.5rem;
  }
  .footer-main .logo {
    margin-left: 3rem;
  }

  #footer-main-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .ourServices > h4 > a,
  .concerts > h4 > a,
  .explore-categories > h4 > a,
  .workshops > h4 > a {
    /* font-family: "Open Sans"; */
    font-size: 18px;
  }

  .ourServices > p,
  .concerts > p,
  .explore-categories > p,
  .workshops > p {
    display: none;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .footer-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 2rem 0.5rem 2rem;
  }
  .footer-main .logo {
    margin-left: 0rem;
    margin-bottom: 2rem;
  }

  #footer-main-text {
    gap: 0.5rem;
  }
  .footer-main .logo,
  .footer-main .ourServices,
  .footer-main .concerts,
  .footer-main .explore-categories,
  .footer-main .workshops,
  .footer-main .scroll-control {
    text-align: center;
  }

  .logo > img {
    width: 50%;
    margin: auto;
  }
  .logo-contact {
    justify-content: center;
  }

  .ourServices > h4 > a,
  .concerts > h4 > a,
  .explore-categories > h4 > a,
  .workshops > h4 > a {
    font-size: 16px;
  }

  #scroll-icon {
    margin-top: 0;
    align-self: flex-end;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    font-size: 15px;
  }

  .footer-bottom > div {
    margin: auto;
  }
  .footer-bottom-text {
    font-size: 14px;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 375px) {
  .ourServices > h4,
  .concerts > h4,
  .explore-categories > h4,
  .workshops > h4 {
    font-size: 14px;
  }
  .footer-bottom-text {
    font-size: 12px;
  }
}
