.services2 {
  width: 100%;
  height: 62.4vh;
  border: 1px solid red;
}

.card.service {
  display: flex;
  align-items: flex-start;
}

.text {
  width: 40%;
  height: 62.4vh;
  color: var(--color-white);
  padding: 5rem 1rem;
  border-radius: var(--border-radius-1) 0 0 var(--border-radius-1);
  background-color: var(--color-primary);
}

.text > h2 {
  font-family: var(--helvetica-font);
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--color-white);
}

.text > p {
  font-family: var(--open-sans-font);
  font-size: 16px;
  font-weight: 200;
  line-height: 28px;
}

.text > button {
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  color: var(--color-white);
  background-color: transparent;
  margin-top: 1.5rem;
  padding: 0.1rem 0.4rem;
  border-bottom: 1px solid var(--color-white);
}

.text > button:hover {
  transform: translateY(-5px);
  transition: transform 0.8s ease;
}

.text > button > a {
  color: var(--color-white);
}

.images {
  width: 60%;
  height: 50vh;
}

.mySwiper {
  height: 50vh;
}

.musicService-card-bands,
.musicService-card-ensemble .musicService-card-evachorale,
.musicService-card-solo {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.musicService-card-bands {
  background-image: url("../../assets/images/concerts/Concerts-bands.jpg");
}
.musicService-card-ensemble {
  background-image: url("../../assets/images/concerts/Concerts-essemble.jpg");
}
.musicService-card-evachorale {
  background-image: url("../../assets/images/concerts/evaChorale.jpeg");
}
.musicService-card-solo {
  background-image: url("../../assets/images/concerts/Solo.jpeg");
}
.musicService-card-text {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 50%;
  color: var(--color-white);
  font-family: var(----helvetica-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.01em;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.eclipse {
  width: 3%;
  border-radius: 50%;
  background-color: #0eb2a4;
  margin: 0.4rem 0;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  #services {
    padding: 4rem 1.5rem;
  }
  .services__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .card-text {
    height: var(--height-2);
  }
  #main-image {
    height: var(--height-2);
  }
}

/* MEDIA QUERIES (phone) */
@media screen and (max-width: 600px) {
  .services2 {
    height: 40vh;
  }

  #services > h2 {
    font-size: 20px;
    font-weight: 500;
  }

  #services > h1 {
    font-size: 38px;
    font-weight: 500;
  }
  #services > p {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
  }

  .services2 {
    width: 100%;
  }

  .text {
    width: 100%;
    height: var(--height-mobile);
    border-radius: var(--border-radius-1);
  }
  .images {
    display: none;
  }
}

/* MEDIA QUERIES (phone) */
@media screen and (max-width: 375px) {
  #services {
    padding: 1rem 1.5rem;
  }

  #services > h2 {
    font-size: 20px;
  }

  #services > h1 {
    font-size: 30px;
  }
  #services > p {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
  }

  .card.service {
    gap: 1.2rem;
  }
  .card-text {
    width: 100%;
    height: var(--height-mobile);
    padding: 2rem 1rem;
    border-radius: var(--border-radius-1);
  }
  .card-text > h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01em;
  }

  .card-text > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }

  .card-text > button {
    font-size: 15px;
    font-weight: 700;
    margin-top: 0.5rem;
  }
}
