#services {
  padding: 0rem 5rem;
  border: 2px solid red;
}

#services-container {
  margin: 2.7rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#services > h2 {
  font-family: var(--helvetica-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #0eb2a4;
}

#services > h1 {
  font-family: var(--helvetica-font);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #001419;
}

#services > p {
  font-family: var(--open-sans-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #4b5563;
}

.services1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
}

/* .card.service {
  display: flex;
  align-items: flex-start;
} */

.card-text {
  width: 60%;
  height: var(--height);
  color: var(--color-white);
  padding: 3.5rem 1rem;
  border-radius: var(--border-radius-1) 0 0 var(--border-radius-1);
  background-color: var(--color-primary);
}

.card-text > h2 {
  font-family: var(--helvetica-font);
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--color-white);
}

.card-text > p {
  font-family: var(--open-sans-font);
  font-size: 16px;
  font-weight: 200;
  line-height: 28px;
}

.card-text > button {
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  color: var(--color-white);
  background-color: transparent;
  margin-top: 1.5rem;
  padding: 0.1rem 0.4rem;
  border-bottom: 1px solid var(--color-white);
}

.card-text > button:hover {
  transform: translateY(-5px);
  transition: transform 0.8s ease;
}

.card-text > button > a {
  color: var(--color-white);
}

.card-images {
  width: 40%;
  border-radius: 0 var(--border-radius-1) var(--border-radius-1) -3.5rem;
}

.card-image {
  width: 100%;
}

#main-image {
  width: 100%;
  height: var(--height);
  object-fit: cover;
  border-radius: 0 1.2rem 1.2rem 0;
}

/* transition: var(--transition); */

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  #services {
    padding: 4rem 1.5rem;
  }
  #services-container {
    gap: 1.5rem;
  }
  .services1 {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .card-text {
    height: var(--height-2);
  }
  #main-image {
    height: var(--height-2);
  }
}

/* MEDIA QUERIES (phone) */
@media screen and (max-width: 600px) {
  #services {
    padding: 0rem 1.5rem;
  }

  #services > h2 {
    font-size: 20px;
    font-weight: 500;
  }

  #services > h1 {
    font-size: 38px;
    font-weight: 500;
  }
  #services > p {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
  }

  #services-container {
    gap: 1.2rem;
  }

  .services1 {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }
  .card.service {
    gap: 1.2rem;
  }
  .card-text {
    width: 100%;
    padding: 2rem 1rem;
    height: var(--height);
    border-radius: var(--border-radius-1);
  }
  .card-text > h2 {
    font-size: 20px;
    font-weight: 600;
  }

  .card-text > p {
    font-size: 16px;
    font-weight: 200;
  }

  .card-text > button {
    font-size: 16px;
    font-weight: 700;
  }

  .card-images {
    display: none;
  }
}

/* MEDIA QUERIES (phone) */
@media screen and (max-width: 375px) {
  #services > h2 {
    font-size: 20px;
  }

  #services > h1 {
    font-size: 30px;
  }
  #services > p {
    font-size: 30px;
    font-weight: 200;
    line-height: 18px;
  }

  #services-container {
    gap: 1.2rem;
  }

  .card-text {
    width: 100%;
    height: var(--height);
    background-color: var(--color-primary);
    padding: 10rem 1rem;
  }
  .card-text > h2 {
    font-size: px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01em;
  }

  .card-text > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }

  .card-text > button {
    font-size: 15px;
    font-weight: 700;
    margin-top: 0.5rem;
  }
}
