#about {
  padding: 5rem 5rem;
}

.about__container {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10%;
  align-items: center;
}

.about__item {
  text-align: center;
}

.about__item img {
  width: 45%;
  height: 10rem;
  margin: auto;
}

.about-item-title,
.about-item-description {
  color: var(--color-black);
}

.about-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.01em;
}

.about-item-description {
  font-family: var(--open-sans-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #4b5563;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  #about {
    padding: 4rem 5rem;
  }
  .about__container {
    grid-template-columns: 1fr 1fr;
  }
  .about__item img {
    height: 5rem;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .about__container {
    grid-template-columns: 1fr;
  }

  .about-item-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01em;
  }

  .about-item-description {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
  }
}
