#contact {
  padding: 0rem 5rem 3rem 5rem;
  background-color: var(--color-primary-card);
}

.contact-container {
  display: flex;
  padding: 3rem;
  justify-content: space-between;
  background-color: var(--color-white);
}

.contact-text {
  width: 35%;
}

.contact-text > h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #0eb2a4;
}

.contact-text > h1 {
  font-size: 42px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #001419;
  margin-bottom: 3rem;
}

.telephone {
  color: var(--color-primary);
}

.telephone > a {
  margin-left: 0.5rem;
  color: var(--color-black);
  font-family: "Open Sans";
  font-size: 18px;
}
.whatsapp {
  color: var(--color-primary);
}

.whatsapp > a {
  margin-left: 0.5rem;
  color: var(--color-black);
  font-family: "Open Sans";
  font-size: 18px;
}

.e-mail {
  color: var(--color-primary);
}

.e-mail > a {
  margin-left: 0.5rem;
  color: var(--color-black);
  font-family: "Open Sans";
  font-size: 18px;
}

.contact-form {
  width: 35%;
}

#name,
#email,
#message {
  width: 100%;
  border-bottom: 1px solid #9ca3af;
}
#name {
  padding: 1rem 0 0.3rem 0.3rem;
  border-top: 1px solid #9ca3af;
}

#email {
  padding: 2rem 0 0.3rem 0.3rem;
}

#message {
  padding: 2rem 0 3rem 0.3rem;
}

form > button {
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  padding: 0.4rem 4rem;
  color: var(--color-white);
  text-transform: uppercase;
  background-color: #9ca3af;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  width: 80%;
}

/* MEDIA QUERIES (tablets)  */
@media screen and (max-width: 1024px) {
  #contact {
    padding: 3rem 1.5rem;
  }
  .contact-container {
    padding: 2rem;
  }
  .contact-text {
    width: 45%;
  }
  .contact-form {
    width: 45%;
  }
}

/* MEDIA QUERIES (Mobile) */
@media screen and (max-width: 600px) {
  .contact-container {
    flex-direction: column;
    gap: 3rem;
  }
  .contact-text,
  .contact-form {
    width: 100%;
  }

  .contact-text > h2 {
    font-size: 18px;
    font-weight: 500;
  }

  .contact-text > h1 {
    font-size: 38px;
    font-weight: 500;
  }
  .contact-text > button {
    font-size: 15px;
    font-weight: 700;
  }
  .telephone > a,
  .whatsapp > a,
  .e-mail > a {
    font-size: 16px;
  }
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 375px) {
  .telephone > a,
  .whatsapp > a,
  .e-mail > a {
    font-size: 15px;
  }
}
