/* STYLING OF CATALOGUE SECTION */
#Catalogue {
  padding: 3rem 5rem;
}

h2 {
  font-family: var(--helvetica-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--color-primary-two);
}
h1 {
  font-family: var(--helvetica-font);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -0.01em;
  text-align: left;
  line-height: 1.1;
  color: var(--color-black);
}

.catalogue-container {
  margin-inline: auto;
  max-width: 1920px;
}

/* STYLING OF PRODUCTS CATEGORIES */
.products-categories {
  font-family: var(--helvetica-font);
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.btn.cat__btn {
  font-family: var(--helvetica-font);
  font-size: 16px;
  font-weight: 300;
  color: #4b5563;
  text-transform: capitalize;
  transition: var(--transition);
}

.btn.cat__btn:hover {
  transform: translateY(0);
}

/* STYLING OF CATALOGUE PRODUCTS */
.catalogue-products {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  align-items: start;
}

/* STYLING OF CATALOGUE PRODUCT */

.card.catalogue-product {
  animation: animateProject 800ms ease-in forwards;
}

@keyframes animateProject {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.catalogue-product-image {
  width: 100%;
  height: fit-content;
  min-height: 7rem;
  max-height: 15rem;
  background: var(--color-primary-card);
  border-radius: var(--border-radius-3);
  margin-bottom: 1.5rem;
  overflow: hidden;
  padding: 2rem;
}
.catalogue-product-textarea {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
}

.catalogue-product-text {
  /* border: 1px solid red; */
}

.catalogue-product-text > h3 {
  font-family: var(--open-sans-font);
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: var(--color-black);
}
.catalogue-product-text > p {
  font-family: var(--open-sans-font);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #4b5563;
}

.catalogue-product-colors {
  /* border: 1px solid red; */
}
.catalogue-product-colors > p {
  font-family: var(--open-sans-font);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(24, 138, 24);
}
/* STYLING OF CATALOGUE BUTTON */
.catalogue-button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.catalogue-button > Button:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}
/* MEDIA QUERIES (for tablets) */
@media screen and (max-width: 1024px) {
  #Catalogue {
    padding: 0rem 1.5rem;
  }

  .products-categories {
    gap: 0.2rem;
  }

  .catalogue-products {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}

/* MEDIA QUERIES (for phones) */
@media screen and (max-width: 600px) {
  h2 {
    font-size: 20px;
    font-weight: 500;
  }
  h1 {
    font-size: 38px;
    font-weight: 500;
  }

  .products-categories {
    gap: 0.6rem;
  }

  .btn.cat__btn {
    transition: var(--transition);
    padding: 0.7rem 0.8rem;
  }

  .catalogue-products {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .catalogue-product-image {
    padding: 1rem;
  }

  .catalogue-product-text > h3 {
    font-size: 18px;
  }
  .catalogue-product-text > p {
    font-size: 12px;
  }
}

/* MEDIA QUERIES (for phones) */
@media screen and (max-width: 375px) {
  #Catalogue > h2 {
    font-size: 20px;
  }
  #Catalogue > h1 {
    font-size: 30px;
  }
  .btn.cat__btn {
    font-size: 15px;
  }
  .catalogue-products {
    justify-content: center;
    gap: 1rem;
  }
  .catalogue-product-text > h3 {
    font-size: 16px;
  }
  .catalogue-product-text > p {
    font-size: 9px;
  }
}
