/* header {
  margin-top: 5rem;
  height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
  background-size: max-width;
  background-image: url(../../assets/images/headerImage.jpg);
  transition: var(--transition);
} */

header {
  margin-top: 5rem;
  height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
  background-size: cover;
  background-image: url(../../assets/images/headerImage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  transition: var(--transition);
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

header > * {
  position: relative;
  z-index: 2;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header__container h1 {
  font-family: var(--helvetica-font);
  font-size: 73.07px;
  font-weight: 700;
  line-height: 87.27px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--color-white);
}

.header__container p {
  font-family: var(--open-sans-font);
  font-size: 20.3px;
  font-weight: 600;
  line-height: 28.41px;
  width: 35rem;
  text-align: center;
  margin: 0.6rem 0 2rem;
  color: var(--color-white);
}

.header-cta > Button {
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.header-cta > button:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  header {
    margin-top: 0;
    height: 100vh;
  }
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 600px) {
  .header__container p {
    width: 100%;
  }
  .header__container h1 {
    font-size: 43.07px;
  }

  .header__container p {
    font-size: 15.3px;
  }
}
