#button {
  font-family: var(--helvetica-font);
  font-size: 16.24px;
  font-weight: 700;
  line-height: 32.47px;
  border-radius: 0.5rem;
  padding: 0.5rem 2.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* MEDIA QUERIES (Mobile) */
@media screen and (max-width: 600px) {
  #button {
    font-family: Helvetica;
    font-size: 15px;
  }
}
